<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Waiters Availability</title>
    <link rel="stylesheet" href="/styles.css" />
    <link rel="stylesheet" href="/schedule.css" />
    <link rel="stylesheet" href="/nav.css" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    </body>
</head>

<body>
    <div class="bg">
        <header>
            <div class="navbar">
                <div class="logo">
                    <a href="/weekly-schedule">
                        <span class="w">W</span>
                        <span class="a">A</span>
                    </a>
                    <form action="/search" method="POST">
                        <div class="search">
                            <input class="search-input" placeholder="search waiter" type="text" name="name" />
                            <button class="button search-button" type="submit">Search</button>
                        </div>
                    </form>
                </div>
                <div class="nav-content">
                    <a href="/weekly-schedule">
                        <h3 class="nav-title">Schedule</h3>
                    </a>
                    <a href="/admin">
                        <h3 class="nav-title">Admin</h3>
                    </a>
                    <a href="/waiters">
                        <h3 class="nav-title">Waiters</h3>
                    </a>
                    <a href="/">
                        <h3 class="nav-title">logout</h3>
                    </a>
                </div>
            </div>
        </header>
        <div class="container">
            {{{body}}}
        </div>
        <footer>
            <div>
                <p>Waiter Availibity App</p>
            </div>
            <div>
                <p>Project Codex 2022</p>
            </div>
        </footer>
    </div>
    <script src="../../error.js"></script>

</html>