<div class="main-container">
    <div class="main-wrapper">
        <h2 class="title">Waiters Available</h2>
        <div class="table-container">
            <tr>
                {{#each weekDays}}
                <th>{{day}}</th>
                {{/each}}
            </tr>
            <tr>
                {{#days}}
                <td>{{#each this}}
                    {{this.name}}
                    {{/each}}
                </td>
                {{/days}}
            </tr>
        </div>
        <div class="bottom-container">
            Waiters
            {{#allWaiters}}
            <ul class="list">
                <a href="/waiter/{{name}}">
                    <li class="list-item">
                        {{name}}
                    </li>
                </a>
            </ul>
            {{/allWaiters}}
        </div>
    </div>
    <div class="buttons admin-buttons">
        <form action="reset" method="POST">
            <button type="submit" class="days-button reset-waiters">
                Reset Schedule
            </button>
        </form>
        <form action="reset" method="POST">
            <button type="submit" class="days-button schedule-days-btn">
                Add Waiter
            </button>
        </form>
        <form action="delete" method="POST">
            <button type="submit" class="days-button delete-waiter">
                Delete Waiters
            </button>
        </form>
    </div>
    <div class="instructions">
        <p class="color">Over Scheduled<span class="purple"></span></p>
        <p class="color">Scheduled<span class="green"></span></p>
        <p class="color">Not Fully Scheduled<span class="yellow"></span></p>
        <p class="color">Not Scheduled<span class="red"></span></p>
    </div>
</div>
</div>