<div class="main-container">
    <div class="main-wrapper">
        <div class="title">Weekly Schedule</div>
        <div class="schedule-days-container">
            {{#each days}}
            <div class="user">
                <span class="day {{separator this}}">{{@key}}</span> {{this}}
            </div>
            {{/each}}
        </div>
    </div>
</div>