<div class="main-container">
    <div class="main-wrapper">
        <h2 class="title">Sign in</h2>
        <p>Enter your name to sign in or sign up</p>
        <div class="bottom-wrapper">
            <form action='/' method="POST">
                <div>
                    <label class="errors error">{{error}}</label>
                    <label class="errors success">{{success}}</label>
                    <label class="name-label" for="name">Name:</label>
                    <input class='name' type="text" name='name' placeholder="Enter your name" value="" />
                </div>
                <button type="submit" class="days-button">
                    Login
                </button>
            </form>
        </div>
    </div>
</div>