<div class="main-container">
    <div class="wrapper">
        <div class="title">Waiter Available</div>
        <p class="sub-title">Days Available</p>
        <table>
            <colgroup>
                <col span="6" style="">
                <col span="8" style="background-color: pink">
            </colgroup>
            <tr>
                <th>{{waiter.name}}</th>
            </tr>
            {{!-- first Waiter --}}
            {{#days_available}}
            <td>{{#each this}}
                {{this.day}}
                {{/each}}
            </td>

            {{/days_available}}
            </tr>
        </table>
        <div class="buttons">
            <a href="/schedule/{{waiter.name}}">
                <button class="days-button user-btn">
                    Schedule Days
                </button>
            </a>
            <a href="/weekly-schedule">
                <button class="days-button back-button">
                    back
                </button>
            </a>
        </div>
    </div>
</div>