<div class="main-container">
    <div class="main-wrapper">
        <div class="title">Weekly Schedule</div>
        <div class="table-container">
            <div class="list-users">
                {{#each waiters}}
                <a href="/waiter/{{name}}">
                    <button class="list-names">
                        <p class="waiter-name">{{name}}</p>
                    </button>
                </a>
                {{/each}}
            </div>
        </div>
    </div>
</div>