<div class="main-container">
    <div class="wrapper">
        <div class="title">Waiter Available</div>
        <p class="subtitle">Days Available</p>
        <div class="waiter-name-container">
            <p class="waiter-name">{{waiter.name}}</p>
            <p class="delete-waiter">Delete</p>
        </div>
        {{#days_available}}
        <p>{{#each this}}
            {{this.day}}
            {{/each}}
        </p>
        {{/days_available}}
        <div class="buttons">
            <a href="/schedule/{{waiter.name}}">
                <button class="days-button user-btn schedule-days-btn">
                    Schedule Days
                </button>
            </a>
            <a href="/weekly-schedule">
                <button class="days-button back-button">
                    back
                </button>
            </a>
        </div>
    </div>
</div>